.logo-size {
    max-width: 200px;
    height: auto;
    display: block;
    margin: auto;
}


.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); 
    color: #ffffff; 
    padding: 10px; 
}


.carousel-caption h5 {
    color: #ff0000; 
    font-size: 1.5em; 
    margin: 0; 
}